*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.center{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #FF8C00;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    font-size: 26px;
}

section{
    padding: 20px;
    background-image: url('../images/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.formCenter{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing:border-box;
    padding:10px;
    border:none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color:white;
    background-color:#FF8C00;
    font-weight: bold;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
  }

.picture{
    width: 160px;
}

footer{
    background-color: #202121;
    padding:40px;
    text-align: center;
}

.description{
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px
}

@media only screen and (max-width: 500px) {
    .formCenter{
        max-width: 100%;
    }
}

.aviso{
    color: white;
    text-align: center;
    font-size: 10px;
}